{% extends 'VoitureFrontOfficeBundle::layout.html.twig' %}

	{% block content %}

		<div style="margin:auto;margin-top:50;width:500px;">

			<h3>Connectez-vous à Voiture.com :</h3>
				{{ form(form) }}
				
		</div>


	{% endblock %}
