{% extends 'VoitureFrontOfficeBundle::layout.html.twig' %}

	{% block content %}
	
		<div class="col-md-9">
			<h3>Liste des utilisateurs inscrits :</h3>
				{% for user in showUsers %}
					{{ user.email }}<br><br>
				{% endfor %}
		</div>

	{% endblock %}
