{% extends 'VoitureBackOfficeBundle::layout.html.twig' %}

	{% block content %}

		<div class="col-md-9">
			<h3>Créer une nouvelle Marque en BDD :</h3><br><br>
				{{ form(form) }}
		</div>


	{% endblock %}

