{% extends "VoitureFrontOfficeBundle::layout.html.twig" %}

	{% block content %}

		<h3>Mentions Légales</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed felis nunc. Nam non quam tincidunt, lobortis nulla quis, mollis enim. Nullam eget turpis at diam consequat tincidunt. Suspendisse molestie eleifend ipsum eu tempor. Curabitur nec justo felis. Sed in est vitae est tempus tempor. Nam consequat est ac varius tincidunt. Aenean tincidunt, est eleifend placerat dapibus, turpis sapien aliquet libero, ac eleifend leo nibh id massa.</p><br>
		<p>Nullam vel cursus lectus, quis volutpat tellus. Integer a convallis orci. Fusce cursus diam tellus. Morbi sagittis id nulla eget rutrum. Vestibulum consequat justo efficitur sagittis feugiat. Pellentesque in nunc tincidunt, pellentesque enim a, dapibus ligula. Praesent luctus eros non est rutrum, at condimentum erat luctus. Proin vehicula diam id fringilla suscipit. Nullam ipsum est, dapibus ac mauris ut, euismod hendrerit leo. Donec gravida quam et dolor maximus finibus. Pellentesque dapibus tellus et iaculis congue. Vestibulum condimentum nisi nec dui bibendum rhoncus. Proin mattis pharetra nulla, ac venenatis felis iaculis nec. Sed non rutrum nunc. In viverra, nulla quis gravida dignissim, ipsum nisi facilisis ligula, bibendum tristique velit turpis vel enim. Sed pellentesque aliquet imperdiet.</p>

	{% endblock %}
